.logo{
	background-color: white;
}
.remove-bullet{
	list-style: none;
}
body{
	background-image: url('../images/a35h8.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.j-nav{
	background-color: black;
	width: 100%;
}

.navbar-expand .navbar-nav{
	display: inline-flex;
}
.logo{
	background-color: white;
	width: 280px;
	height: 60px;
}
.card-services{
	width: 40rem;
}
.img-services{
	width: 600px;
	height: 200px;
}
.mapa-ti-jfrozz{
	width: 720px;
	height: 300px;
}



@media only screen and (max-width: 450px){
	.j-nav{
		font-size: 10px;
	}
	.navbar-expand .navbar-nav{
		display: block;
	}
	.logo{
		width: 100px;
		height: 60px;
	}
	.services{
		display: block !important;
	}
	.card-services{
		width: 20rem !important;
	}
	.img-services{
		width: 320px !important;
		height: 100px !important;
	}
	.mapa-ti-jfrozz{
		width: 300px !important;
		height: 200px !important;
	}
}
@media only screen and (max-width: 1000px) {
	.navbar-expand .navbar-nav{
		display: block;
	}
	.services{
		display: block !important;
	}
	.mapa-ti-jfrozz{
		width: 450px;
		height: 200px;
	}
}



	